<app-alert-card
    [message]="alertMessage()"
    [type]="alertType()"
    [visible]="alertVisible()"
    (dismissed)="onAlertDismiss()"
></app-alert-card>

<form class="login-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="form-group">
        <label for="email" class="form-label">Correo Electrónico</label>
        <input 
            type="email" 
            id="email" 
            class="form-input" 
            placeholder="correo@email.com"
            formControlName="email"
            required
        >
    </div>

    <div class="form-group">
        <label for="password" class="form-label">Contraseña</label>
        <input 
            type="password" 
            id="password" 
            class="form-input" 
            placeholder="Introduce tu contraseña"
            formControlName="password"
            required
        >
    </div>

    <button type="submit" class="login-button">Iniciar Sesión</button>
</form>